Source: xcs-ptam
Section: unknown
Priority: optional
Maintainer: Michal Koutný <xm.koutny@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake
Standards-Version: 3.9.4
Homepage: http://drones.ms.mff.cuni.cz/xcs
#Vcs-Git: git://git.debian.org/collab-maint/ptam.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ptam.git;a=summary

Package: libxcs-ptam
Depends: libdc1394-22
Architecture: any
Description: PTAM library for XCS.
 With custom TooN, GVars and CVD libraries.

Package: libxcs-ptam-dev
Depends: libxcs-ptam
Architecture: any
Description: Development files for PTAM library of XCS.

